<a href="https://colab.research.google.com/github/rajaram291104/Python_practice/blob/main/Another_copy_of_Welcome_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nameprint(324+235)

559

In [ ]:
print(27477*4738)

130186026

In [ ]:
print(234+434)
print(35*32523)
print(214124%5235)

668
1138305
4724

In [ ]:
name = "raja"
age = 20
price = 23.23

age2 = age

print(age2)

20

In [ ]:
name = "raja"
age = 20
price = 35.34

age2 = age
print(age2)

20

In [ ]:
a = 2
b = 3
c = 23

sum = a + b + c
print(sum)

28

In [ ]:
a = 344
b = 325
c = 234

sum = a * b + c
print(sum)

112034

In [ ]:
#relational operators

a = 50
b = 20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)

False
True
True
False

In [ ]:
#arithmetic operators
a = 50
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

70
30
1000
2.5
10
9536743164062500000000000000000000

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
marks = float(input("Enter your marks: "))

print("Welcome", name)
print("Your age is", age)
print("Your marks are", marks)

Enter your name: raja
Enter your age: 20
Enter your marks: 50.00
Welcome raja
Your age is 20
Your marks are 50.0

In [ ]:
str = "apna college"

print(str[0])
print(str[1])
print(str[2])
print(str[3])
print(str[4])

a
p
n
a

In [ ]:
#negative index

In [ ]:
str = "aaple"
print(str[-5:-1])
print(str[-5:-2])

aapl
aap

In [ ]:
# endwith use
str = "i am stadying python from apna college"
print(str.endswith("ege"))

True

In [ ]:
name = input("enter tour name")
print("length of your name is",len(name))

enter tour nameraja
length of your name is 4

In [ ]:
x = 10

if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is greater than 5

In [ ]:
x = 100

if x > 100:
    print("x is greater than 100")
elif x > 100:
    print("x is equal than 50")
else:
  print("x is less than 50")

x is less than 50

In [ ]:
x = 10
if x >5:
  print("x is greater than 5")
if x < 5:
  print("x is less than 5")
if x == 5:
  print("x is equal) to 5")

x is greater than 5

In [ ]:
x = 3
if x > 5:
  print("x is greater than 5")
elif x < 5:
  print("x is less than 5")
else:
  print("x is equal to 5")

x is less than 5

In [ ]:
def greet(name):
  return"hello" + name

In [ ]:
mark=[23,23,45,67,24,57,45,45,45,45,45,55]

print(mark[-6:-5])

[45]

In [ ]:
list = [1,2,3,5,4]
list.insert(2,3.4)
print(list)

[1, 2, 3.4, 3, 5, 4]

In [ ]:
movies = []
movies.append(input("enter 1stmovie name"))
movies.append(input("enter 2ndmovie name"))
movies.append(input("enter 3rdmovie name"))
movies.append(input("enter 4thmovie name"))
movies.append(input("enter 5thmovie name"))
print(movies)

enter 1stmovie namemass
enter 2ndmovie namediljale
enter 3rdmovie namekyola
enter 4thmovie namejadu
enter 5thmovie namehero
['mass', 'diljale', 'kyola', 'jadu', 'hero']

In [ ]:
list1 = [1,2,1]
list2 = [3,4,5]

copy_list1 = list1.copy()
if copy_list1 == list2:
  print("palindrone")
else:
  print("not palindrone")

  list1 = [1,2,1]
list2 = [3,4,5]

copy_list1 = list1.copy()
if copy_list1 == list1:
  print("palindrone")
else:
  print("not palindrone")

not palindrone
palindrone

In [ ]:
dict = {
    "name": "raja",
    "cgpa": 6.7,
    "marks": [45, 45, 56, 34, 45, 56]
}

print(dict["name"], dict["cgpa"], dict["marks"])

dict["key"] = "value"

raja 6.7 [45, 45, 56, 34, 45, 56]

In [ ]:
info = {
    "key": "value",
    "name": "silicon college",
    "learning" : "coding"

}

print(info["name"], info["learning"])

silicon college coding

In [ ]:
info = {
    "name" : "apna college",
      "subjects" : ["python", "c", "java"],
      "topics" : ("dict","set"),
    "age" : 20,
    "is_adult" : True,
    12.99 : 56.00

}
print(type(info))

<class 'dict'>

In [ ]:
from typing import Collection
collection ={1,2,3,4,}

print(Collection)
print(type(collection))

typing.Collection
<class 'set'>

In [ ]:
i = 1
while i <= 10 :
  print(i)
  i+= 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 10
while i >= 1 :
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
i = 1
while i <= 10 :
  print(3*i)
  i+= 1

3
6
9
12
15
18
21
24
27
30

In [ ]:
n = int(input("enter a number"))
i = 1
while i <= 10 :
  print(n*i)
  i+= 1

enter a number12
12
24
36
48
60
72
84
96
108
120

In [ ]:
i = 1
while i <= 5:
  print(i)
  if (i == 3):
    break
  i += 1
  print("end if loop")

1
end if loop
2
end if loop
3

In [ ]:
i = 1
while i <= 5:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3