<a href="https://colab.research.google.com/github/rajaram291104/Python_practice/blob/main/session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python progamming

In [ ]:
a = 34
b = 20
c = a-b
print(c)
type(c)

14

int

In [ ]:
a = 10
b = 20
c = a+b

print (c)
type(a)

30

int

In [ ]:
a = 30
b = 40
c = a*b
print(c)

type(c)

1200

int

In [ ]:
a1 = 20.21
a2 = 34.23
c = (a1+a2)
print(c)
type(a1)

54.44

float

In [ ]:
a = 20
b = 30
c = a>b
print(c)

False

In [ ]:
a = 20
b = 30
c = a<b
print(c)
type(c)

True

bool

In [ ]:
a = 40
b = 30
c = a==b
print(c)

False

In [ ]:
a = 40
b = 30
c = a!=b
print(c)

True

In [ ]:
x = 10
y = 5

print(x > 5 and y < 10)  # True
print(x > 15 or y < 10)  # True
print(not(x < 5))        # True

True
True
True

In [ ]:
x = 30
y = 20

print(x > 20 and y >4 )
print(x>14 or y <2 )

True
True

In [ ]:
value1 = True
print (  not value1)

False

In [ ]:
def calc_avg(a,b,c):
  sum = a+b+c
  avg = sum/3
  print(avg)

calc_avg(10,20,30)

20.0

In [ ]:
#quetion 1
a = 23
b = 45

print(a+b)
print(a-b)
print(a*b)
print(a/b)

68
-22
1035
0.5111111111111111

In [ ]:
##quetion 2

age = 25
if age < 18:
    print("Minor")
elif age < 60:
    print("Adult")
else:
    print("Senior Citizen")

Adult

In [ ]:
#quetion 3

a = 7
if a%2==0:
  print("even number")
else:
  print("odd number")

odd number

In [ ]:
#quetion 5
a = 4
b = 9
c = 2

if a>b and a>c:
  print("a is greater")
elif b>a and b>c:
  print("b is greater")

else:
  print("c is greater")

b is greater

In [ ]:
#quetion 9
num1 = 12
num2 = 4
operator = '\*'

if operator == '+':
  print(num1+num2)
elif operator == '-':
  print(num1-num2)
elif operator == '*':
  print(num1*num2)
elif operator == '/':
  print(num1/num2)
else:
  print("invalid operator")

invalid operator

In [ ]:
#quetion 6

text = "Python"
if len(text) > 5:
    print("Length is greater than 5")
else:
    print("Length is 5 or less")

Length is greater than 5

In [ ]:
#quetion 7
num = 15
if num % 3==0 and num % 5==0:
  print(" multiple by 3 and 5")
else:
  print("not multiple by 3 and 5")

 multiple by 3 and 5

In [ ]:
price = 25
quantity = 5
total = price * quantity

if total > 100:
    discount = total * 0.10
    final_amount = total - discount
else:
    final_amount = total

print("Final amount:", final_amount)

Final amount: 112.5

In [ ]:
price = 25
quantity = 5
total = price * quantity
if total > 100:
  discount = total * 0.10
  final_amount = total - discount
else :
  print("test")

  final_amount = total

print("Final amount:", final_amount)

Final amount: 112.5

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print("my name is raja")

my name is raja
my name is raja
my name is raja
my name is raja
my name is raja
my name is raja
my name is raja
my name is raja
my name is raja
my name is raja

In [ ]:
for i in range(5,10):
  print(i)

5
6
7
8
9

In [ ]:
for i in range(5,10,2):
  print(i)

5
7
9

In [ ]:
a = 8
while(a>0):
  print("value of a is positive")

  a = a -1

value of a is positive
value of a is positive
value of a is positive
value of a is positive
value of a is positive
value of a is positive
value of a is positive
value of a is positive

In [ ]:
for i in range(10):
    print(i)
    a = 5
    while (a > 0):
      print('value of a')
      print(a)
      print('value of a is positive')
      a = a - 1

0
value of a
5
value of a is positive
value of a
4
value of a is positive
value of a
3
value of a is positive
value of a
2
value of a is positive
value of a
1
value of a is positive
1
value of a
5
value of a is positive
value of a
4
value of a is positive
value of a
3
value of a is positive
value of a
2
value of a is positive
value of a
1
value of a is positive
2
value of a
5
value of a is positive
value of a
4
value of a is positive
value of a
3
value of a is positive
value of a
2
value of a is positive
value of a
1
value of a is positive
3
value of a
5
value of a is positive
value of a
4
value of a is positive
value of a
3
value of a is positive
value of a
2
value of a is positive
value of a
1
value of a is positive
4
value of a
5
value of a is positive
value of a
4
value of a is positive
value of a
3
value of a is positive
value of a
2
value of a is positive
value of a
1
value of a is positive
5
value of a
5
value of a is positive
value of a
4
value of a is positive
value of a
3
value of a is positive
value of a
2
value of a is positive
value of a
1
value of a is positive
6
value of a
5
value of a is positive
value of a
4
value of a is positive
value of a
3
value of a is positive
value of a
2
value of a is positive
value of a
1
value of a is positive
7
value of a
5
value of a is positive
value of a
4
value of a is positive
value of a
3
value of a is positive
value of a
2
value of a is positive
value of a
1
value of a is positive
8
value of a
5
value of a is positive
value of a
4
value of a is positive
value of a
3
value of a is positive
value of a
2
value of a is positive
value of a
1
value of a is positive
9
value of a
5
value of a is positive
value of a
4
value of a is positive
value of a
3
value of a is positive
value of a
2
value of a is positive
value of a
1
value of a is positive

In [ ]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i * j, end=" ")
    print()

1 2 3
2 4 6
3 6 9

In [ ]:
#quetion 1

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#quetion 2

for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#quetion 3

total = 0
for i in range(1, 11):
    total += i
print("Sum:", total)

Sum: 55

In [ ]:
#quetion 4

for i in range(1, 11):
    print(f"5 x {i} = {5 * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#quetion 5

i = 5
while i >= 1:
    print(i)
    i -= 1
print("Blast off!")

5
4
3
2
1
Blast off!